{pre_hooks, [{"(linux|darwin)", compile, "make compile_nif"}]}.
{post_hooks, [{"(linux|darwin)", clean, "make clean_nif"}]}.

{deps, []}.

{erl_opts, [
    warnings_as_errors,
    warn_export_all
]}.

{cover_enabled, true}.
{ct_log_dir, "log"}.
{ct_dir, "test"}.
{ct_extra_params, "-pa ebin -pa deps/*/ebin erl -pa _build/default/lib/*/ebin -include include"}.
